/* Default styles (for larger screens like desktops) */
body {
    display: flex;
    
}

.main-container, .image-container {
    border: 2px solid #0a0909;
    background-color: #f9f9f9;
    padding-top: 50px;
    align-items: center;
    
}

.button-container, .footer, .form-container {
    padding-left: 50px;
    margin-top: 50px;
   
}


.form-container {
    border: 2px solid #0a0909;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 20px; /* Space between elements */
    
    width: 435px;
    
}

.form-group {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    
    width: 208px;
    
}

.image-container {
    width: 30%;
    height: 100vh;
}

.main-text{
    font-size: 24px;
    font-weight: bold;
    padding-top: 100px;
    padding-left: 50px;
}

.button-container button{
    display: flex;
}

.button-container{
   
}


legend{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
    font-weight: bold; 
}

input{
    width: 200px;
}
  
/* Tablet (768px and smaller) */
@media screen and (max-width: 768px) {
body {
    font-size: 16px;
    margin: 10px;
}
}

/* Mobile (480px and smaller) */
@media screen and (max-width: 480px) {
body {
    font-size: 14px;
    margin: 5px;
}
}
  